<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayden.testandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".api.xmlparser.DataPullPraserDemo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".api.xmlparser.ParserResultActivity"/>
        <activity android:name=".lifecycle.BActivity" />
        <activity android:name=".customview.circlemenu.CCBActivity" />
        <activity android:name=".customview.circlemenu.CircleActivity" />
        <activity android:name=".lollipop.animation.OtherActivity" />

        <service android:name=".customview.floatview.TopFloatService" />

        <activity android:name=".lollipop.animation.ShareElementActivity" />

        <!-- 以下两个是测试从web启动app， 下面的mainActivity要作为应用的路口Activity -->
        <activity
            android:name=".weblauncher.WebIntentActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".video.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="testandroid.app"
                    android:pathPrefix="/openwith"
                    android:scheme="jayden" />
            </intent-filter>
        </activity>

        <activity android:name=".question.edittext.EdittextFocus"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>